<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans&display=swap" rel="stylesheet">

html{
	background-color: yellow;
}

body{
	font-size: 15px;
}

/* font style */
.tit{
	font-size: 45px;
}

.footer{
	background-color: gray;
	position: absolute;
	bottom: 90%;
	width: 95%;
	height: 70px;
}
#intro{
	font-size: 13px;
}
/* linking */

.group{
	display: flex;
	margin: 10px auto;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	justify-content: flex-start;
}

.first{
	text-decoration: overline underline;
	text-decoration-color: red;
}

a{
	text-decoration-line: none;
	color: black;
}

/* border lines*/
.limit{
	border-style: solid;
}
*{
	box-sizing: border-box;
}
.border{
	border-style: solid;
}
footer{
	border-top: solid;
}

/* flex */
.sq{
	display: flex;
}

#product{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

form{
	display: flex;
	flex-flow: column;
	align-items: stretch;
}

/* 화면 제한 */

.limit{
	width: 1000px;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	animation-duration: 0s;
}

#product > div{
	width: 200px;
	height: 200px;
}

#product{
	width: 80%;
}

#product > div img{
	position: absolute;
	height: 15%;
}
#leftside{
	float : left;
}

#show{
	position: absolute;
	top: 3%;
	left: 3%
	width : 50%;
	height: 5%;
	font-size: 5px;
}

/* animation */

@keyframes tit {
	from {margin-left: 100%; width: 300%;}
	to {margin-left: 0%; width: 100%}
}

.tit{
	animation: tit;
	animation-duration: 1s;
	animation-direction: alternate;
}

/* button */


input[type="submit"]
{
	background-color: lightgreen;
	padding: 10px;
	margin: 10px;
	width: 80px;
	height: 50px;

}

input[type="reset"]
{
	background-color: red;
	padding: 10px 25px 10px 25px;
	margin: 10px;
	width: 80px;
	height: 50px;
}

